node_modules
npm-debug.log*
npm-debug.log
yarn-error.log
.vscode
package-lock.json
coverage
.nyc_output
generated
dist/**/*
build/**/*
.DS_Store
*.tgz

# these are generated at build-time
toolbox.js
filesystem.js
strings.js
print.js
system.js
semver.js
http.js
patching.js
prompt.js
