pool:
  vmImage: 'windows-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  - script: |
      choco install yarn -y
    displayName: 'install yarn'

  - script: |
      yarn install
    displayName: 'yarn install'

  - script: |
      set USE_YARN=true
      yarn ci:test:windows
    displayName: 'yarn ci:test:windows'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
      includeRootFolder: false

  - task: PublishBuildArtifacts@1
